/* .App {
  text-align: center;
} */


/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App{
 
  min-height: 100vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sidebar {
  display: flex;
   height: 20vh;
   float: left;
   overflow: 'scroll initial';
   
}

body {
  background-image: url("./images/appbkgrnd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}


.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.genform{
  background-color: gray;
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 175px;
  border-radius: 30px;
  padding: 15px 15px 15px 15px;
  align-items: center;
  justify-content: center;

}